<nav>
  <a class="nav-header" routerLink="/">Jeroen Vogelpoel</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/resume">Resume</a>
  <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
</nav>

<article>
  <header>
    <h1>{{ titleService.getTitle() }}</h1>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <hr />
    &copy; Jeroen Vogelpoel 2020
  </footer>
</article>