@import "../mixins.scss";

:host {
    background-color: var(--default-bg-color);
    display: flex;
    height: 100%;
    width: 100%;

    flex-flow: column nowrap;
    overflow: auto;

    @include if-large() {
        flex-flow: row nowrap;
        align-items: flex-start;
    }
}

article {
    background-color: var(--article-bg-color);
    flex: 1 1 auto;
    align-self: normal;
    padding: 0 2vw;

    @include if-medium-or-larger() {
        overflow: auto;
    }
}

nav {
    background-color: var(--default-bg-color);
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
    z-index: 100;

    @include if-medium() {
        flex-flow: row nowrap;
    }

    a {
        display: block;
        flex: 1 0 auto;
        text-align: center;

        padding: 1em 0;

        @include if-large() {
            padding: 0.5em 2em;
        }

        &.nav-link:hover {
            background-color: black;
            color: white;
        }
    }

    #brand {
        display: none;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        @include if-large() {
            display: block;
        }
    }
}

a#scroll-to-top {
    position: fixed;
    top: 0;
    right: 2em;

    padding: 0.5em 1em;
    background-color: var(--default-bg-color);
    border-radius: 0 0 1em 1em;

    @include if-medium-or-larger() {
        display: none;
    }
}