<nav>
  <a class="plain" id="brand" routerLink="/">Jeroen Vogelpoel</a>
  <a class="nav-link plain" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
  <a class="nav-link plain" routerLinkActive="active" routerLink="/resume">Resume</a>
  <a class="nav-link plain" routerLinkActive="active" routerLink="/contact">Contact</a>
</nav>

<article>
  <header>
    <h1>{{ titleService.getTitle() }}</h1>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <hr />
    &copy; Jeroen Vogelpoel 2020
  </footer>
</article>

<a class="plain" 
  href="#"
  id="scroll-to-top"
  (click)="ScrollToTop()">⇈ Nav ⇈</a>