/* You can add global styles to this file, and also import other style files */
:root {
    --default-bg-color: lightgrey;
    --article-bg-color: white;
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

// Common styles

footer {
    text-align: right;
    margin-bottom: 1em;
}

a.plain {
    text-decoration: none;
    color: unset;
}